<ion-view view-title="Comments">
<ion-nav-buttons side="secondary">
<div ng-controller="LogoutCtrl" ng-click="logOut()" class="logout ion-log-out"></div>
<!-- <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button ion-log-out"></button> -->
</ion-nav-buttons>

<ion-content>
<div class="comments" ng-repeat="comment in comments">
		<div class="item">
			<div class="issueHeader">
				<h2 class="issueTitle citizen">{{comment.author.name}}</h2>
				<p class="state">{{comment.postedOn | date: "d MMM yyyy ' at ' hh:mm"}}</p>
			</div>
			<p id="commentLimit">{{comment.text}}</p>
		</div>
	</div>
	


	<div class="item tabs tabs-secondary tabs-icon-left" ng-click="showme = true; scrollBottom()">
		<div class="tab-item">
			<i class="icon ion-plus-circled"></i>
			Add your comment
		</div>
	</div>
	


	<form name="commentForm">
		<div class="animate-show list" ng-show="showme">
			<!-- text area -->
			<label class="item item-input">
				<textarea ng-model="comment.text" placeholder="Comments" required="required"></textarea>
			</label>

			<!-- submit button -->
			<button class="button button-block button-positive" ng-click="addComment()" ng-disabled="commentForm.$invalid">Send</button>

	  		<!-- Display an error message here, above the submit button, if an error occurred. -->
	  		<p ng-if="error" class="error">{{ error }}</p>

		</div>
	</form>
















</ion-content>
</ion-view>