<ion-view view-title="IssueDetails">
<ion-nav-buttons side="secondary">
<button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
</ion-nav-buttons>

<ion-content>
<!--
<img src="http://cdn2.hubspot.net/hub/372659/file-647474867-jpg/blog-files/lightpole2.jpg?t=1424816062643">
<div>
	<div class="issueHeader">
		<h2 class="issueTitle">fucking title</h2>
		<p class="state">feed</p>
	</div>
	
	<p>trololol that fucking description of a fucking isue fucked by your broken streetlight</p>
	<hr>
	<div>tag tag tag</div>	    
	<div class="commentsFooter">
		comments +2
	</div>
</div> -->

<ion-header-bar class="bar-positive">
      <h1 class="title">Accordion List</h1>
    </ion-header-bar>

    <ion-content>

      <ion-list>
        <div>
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Group 1
          </ion-item>
          <ion-item class="item-accordion" ng-show="isGroupShown(group)">
            1
          </ion-item>
          <ion-item class="item-accordion" ng-show="isGroupShown(group)">
            2
          </ion-item>
        </div>
      </ion-list>

    </ion-content>

</ion-content>

</ion-view>