<ion-view view-title="Issue List">
<ion-nav-buttons side="secondary">
<button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
</ion-nav-buttons>
<ion-content>


<ion-list>

  
	<div class="list">
	    <a class="item item-thumbnail-left" ng-href="issues/{{issue.id}}" ng-repeat="issue in issues">
	      <img src="{{issue.imageUrl}}">
	      <div class="issueHeader">
	      	<h2 class="issueTitle">{{issue.issueType.name}}</h2>
	      	<p class="state">{{issue.state}}</p>
	  	  </div>
	      <p>{{issue.description}}</p>
	      
	    </a>
	</div>
  
</ion-list>








</ion-content>
</ion-view>