<ion-view view-title="IssueDetails">
<ion-nav-buttons side="secondary">
<button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
</ion-nav-buttons>
<ion-content>
<img src="http://cdn2.hubspot.net/hub/372659/file-647474867-jpg/blog-files/lightpole2.jpg?t=1424816062643">
<div>
	<div class="issueHeader">
		<h2 class="issueTitle">fucking title</h2>
		<p class="state">feed</p>
	</div>
	
	<p>trololol that fucking description of a fucking isue fucked by your broken streetlight</p>
	<hr>
	<div>tag tag tag</div>	    
	<div class="commentsFooter">
		comments +2
	</div>
</div>
</ion-content>
</ion-view>