<ion-view view-title="IssueDetails">
<ion-nav-buttons side="secondary">
<button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
</ion-nav-buttons>

<ion-content>

<img class="issueDetailImage" ng-src="{{issue.imageUrl}}">
<div class="item">
	<div class="issueHeader">
		<h2 class="issueTitle">{{issue.issueType.name}}</h2>
		<p class="state">{{issue.state}}</p>
	</div>
	
	<p>{{issue.description}}</p>
	<hr>
	<div ng-repeat="tag in tags">{{tag}}</div>	 
</div>

<div class="item tabs tabs-secondary tabs-icon-left">
	<a class="tab-item" ui-sref="tab.comments({issueId: issue.id})">
	  <i class="icon ion-chatbox"></i>
	  Comment<span class="badge badge-assertive">{{commentsCpt}}</span>
	</a>
</div>

</ion-content>

</ion-view>