<ion-view view-title="Issue List">
<ion-nav-buttons side="secondary">
<div ng-controller="LogoutCtrl" ng-click="logOut()" class="logout ion-log-out"></div>


<!-- <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button ion-log-out"></button> -->
</ion-nav-buttons>
<ion-content>
<div class="search">
	<input ng-model="searchText" placeholder="Search">
	<i class="ion-search"></i>
</div>

<ion-list>
	<div class="list">
	    <a class="item item-thumbnail-left" ng-href="#/tab/issueDetails/{{issue.id}}" ng-repeat="issue in issues | filter:searchText">
	      <img src="{{issue.imageUrl}}">
	      <div class="issueHeader">
	      	<h2 class="issueTitle">{{issue.issueType.name}}</h2>
	      	<p class="state">{{issue.state}}</p>
	  	  </div>
	      <p>{{issue.description}}</p>
	      
	    </a>
	</div>
  
	<form>
		<button class="button button-full button-positive" ng-click="loadMoreIssues()">Load more issues !</button>
		<button on-swipe-up="loadMoreIssues()" class="button button-full button-positive ion-arrow-down-c">swipe test more issues</button>
	</form>

</ion-list>








</ion-content>
</ion-view>