<ion-view view-title="New Issue">
  <ion-nav-buttons side="secondary">
    <div ng-controller="LogoutCtrl" ng-click="logOut()" class="logout ion-log-out"></div>
<!-- <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button ion-log-out"></button> -->
  </ion-nav-buttons>
  <ion-content>


    <!-- The issue form that the citizen must fill. -->
    <form name="loginForm">

      <!-- Ionic uses lists to group related input elements. -->
      <div class="list">
        <label class="item item-input">
          <!-- Note the required="required" attribute used for validation. -->
          <textarea placeholder="Description" ng-model="issueToAdd.description" required="required"></textarea>
        </label>
      </div>
      
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            IssueType
          </div>
          <!--get issueType-->
          <select ng-model="issueToAdd.issuetype">
            <option ng-repeat="option in issuetypes">{{option.name}}</option>
          </select>
        </label>
      </div>

      <!-- Display an error message here, above the submit button, if an error occurred. -->
      <p ng-if="error" class="error">{{ error }}</p>

      <!--
        The submit button.
        The "ng-click" directive indicates which scope function to call when the form is submitted.
        The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
      -->
      <button class="button button-full button-positive" ng-click="addIssue(issueToAdd)" ng-disabled="loginForm.$invalid">Add</button>
    </form>


  </ion-content>
</ion-view>