<ion-view view-title="User">
	<ion-nav-buttons side="secondary">
		<div ng-controller="LogoutCtrl" ng-click="logOut()" class="logout ion-log-out"></div>
<!-- <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button ion-log-out"></button> -->
	</ion-nav-buttons>

	<ion-content>
		<div class="list">

		  <div class="item item-icon-left" href="">
		    <i class="icon ion-person"></i>
		    <div class="issueHeader">
					<i class="issueTitle">Laurent Lienher</i>
					<i class="state">citizen</i>
			</div>
		  </div>

		  <div class="item item-icon-left" href="">
		    <i class="icon ion-ios-telephone"></i>
		    078 346 23 94
		  </div>


		  <div class="item item-icon-left" href="">
		    <i class="icon ion-ios-list"></i>
		    My issues
		    <span class="badge badge-assertive">2</span>
		  </div>

		</div>


		
	</ion-content>
</ion-view>