<ion-view view-title="User">
	<ion-nav-buttons side="secondary">
		<button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
	</ion-nav-buttons>

	<ion-content>
		<div class="list">

		  <div class="item item-icon-left" href="">
		    <i class="icon ion-person"></i>
		    <div class="issueHeader">
					<h2 class="issueTitle citizen">Laurent Lienher</h2>
					<p class="state">18/03/2015</p>
			</div>
		  </div>

		  <div class="item item-icon-left" href="">
		    <i class="icon ion-ios-telephone"></i>
		    078 346 23 94
		  </div>


		  <div class="item item-icon-left" href="">
		    <i class="icon ion-key"></i>
		    role
		    <span class="badge badge-assertive">0</span>
		  </div>

		</div>


		
	</ion-content>
</ion-view>