/* Empty. Add your own CSS if you like */


/*

$color1 = #34495e //light
$color2 = #2c3e50 //dark
$grey1 = #161616 //darker grey
$grey2 = #262626 //middle grey
$grey3 = #3a3a3a //lighter grey
$deepBlue = #193754 //deep blue
$lightBlue = #3399cc
$textBlue = #4894b3 //text color blue
$textWhite = #cfcfcf //text color white title
$text = #a8a8a8 // plain text
$textGrey = #6f6f6f //text color grey unselected

*/

/*.scroll-content {
    background-image: url("background_image.jpg");
    background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center; 
}*/

/*---logout---*/

.logout{
line-height: 34px;
font-size: 1.2em;
margin-right: 10px;

}
.logout.activated{
  color: #006699;
}

/*LOGIN style*/

.login{
	background-image: url("../img/cities-skylines_flou.jpg");
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}

.login.pane,.login.view,.login .scroll-content{
    background-color: inherit; 
}



.button.disabled, .button[disabled] {
    cursor: default !important;
    opacity: 0.9;
    pointer-events: none;
}
.button.button-positive {
    background-color: #161616;
    border-color: #161616;
    color: #fff;
}



.button.button-positive.active, .button.button-positive.activated{
    background-color: #262626;
    border-color: #262626;
    color: #cfcfcf;
}


.card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*---steam theme---*/

.scroll-content, .pane, .view {
  background-color: #262626;
}

.item p {
    color: #a8a8a8;
}

h2 {
    color:#006699;
}

.item {
  background-color: #262626;
  border-color: #3a3a3a;

}
.item.issueDetails{
  border-top: none;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
  border-color: #3a3a3a;
  background-color: #3a3a3a;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .item.item-input{
  color: #a8a8a8;
  background-color: #3a3a3a;
}

.item-select select {
    background: none repeat scroll 0 0 #3a3a3a;
    color: #a8a8a8;
}

.input-label {
    color: inherit;
}
  /*-------nav menu------------*/

.tabs-striped .tabs {
  background-color: #262626;
  
}

.tab-nav, .bar.bar-stable{
  background-color: #161616 !important;
}

.tab-item {
    color: #6f6f6f;
    opacity: inherit;    
}
.tab-item .badge{
  opacity: 0.5;
}


.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  border-color: #006699;
  color: #006699;
}

.tabs-striped .tabs {
  border-color: -moz-use-text-color -moz-use-text-color #3a3a3a;  
}

.bar.bar-stable {
  border-color: #161616;   
}




/*---MAP---*/

.leaflet-container{
    width: 100%;
    height: 100%;
}

 .leaflet-control {
    display: none;
}

/*----ADD Issue----*/

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.item-input textarea {
    
    width: 100%;
    resize: none;
}

/*-----IssueList-----*/

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
}


div .issueHeader{
    
    text-align: justify;
    margin-bottom: -20px;

    /* ie 7*/  
    *width: 100%;  
    *-ms-text-justify: distribute-all-lines;
    *text-justify: distribute-all-lines;
}
div .issueHeader:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
    
}

.issueTitle{
    display: inline-block;
    margin-top: 0.321em;
    
    /* ie 7*/ 
    *display: inline;
    *zoom: 1;
    *text-align: left; 
  

/* ie 7*/  
    *width: 100%;  
    *-ms-text-justify: distribute-all-lines;
    *text-justify: distribute-all-lines;

}

.state {
    font-size: 0.8em !important;
    display: inline-block;
    vertical-align: baseline; 
    color:#6f6f6f !important;
    /* ie 7*/
    *display: inline;
    *zoom:1;
    *text-align: right;
}

/*----Issue Details---*/

.issueDetailImage{
    width: 100%;
    height: auto;
}
.commentsButton{
    
}

.tag{
  display: inline-block;
  font-size: 0.8em;
  color:#6f6f6f;

}

.tabs-striped .tab-item.tab-item-active .badge, .tabs-striped .tab-item.active .badge, .tabs-striped .tab-item.activated .badge {
      top: 16px;
      opacity: 1; }

.tags{
  margin:0;
  text-align: center;
}
.tagBorder{
  border-color:#3a3a3a;
  border-style: none none solid;
}
/*--comments--*/

.citizen{
  
}
.staff{
  
}

.tab-item .addComment.activated{
 color: #006699;

}

.staff::after {
    content: "";
    display: inline-block;
    font-family: "Ionicons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
}



.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

