/* Empty. Add your own CSS if you like */

/*.scroll-content {
    background-image: url("background_image.jpg");
    background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center; 
}*/

/*LOGIN style*/

.login{
	background-image: url("cities-skylines.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}


.button.disabled, .button[disabled] {
    cursor: default !important;
    opacity: 0.9;
    pointer-events: none;
}
.button.button-positive {
    background-color: #161616;
    border-color: #161616;
    color: #fff;
}

.button.button-positive.active, .button.button-positive.activated{
    background-color: #262626;
    border-color: #262626;
    color: #cfcfcf;
}




/*ADD Issue*/

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}