/* Empty. Add your own CSS if you like */


/*

$color1 = #34495e //light
$color2 = #2c3e50 //dark
$grey1 = #161616 //darker grey
$grey2 = #262626 //middle grey
$grey3 = #3a3a3a //lighter grey
$deepBlue = #193754 //deep blue
$lightBlue = #3399cc
$textBlue = #4894b3 //text color blue
$textWhite = #cfcfcf //text color white title
$text = #a8a8a8 // plain text
$textGrey = #6f6f6f //text color grey unselected

*/

/*.scroll-content {
    background-image: url("background_image.jpg");
    background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center; 
}*/

/*LOGIN style*/

.login{
	background-image: url("cities-skylines_flou.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}


.button.disabled, .button[disabled] {
    cursor: default !important;
    opacity: 0.9;
    pointer-events: none;
}
.button.button-positive {
    background-color: #161616;
    border-color: #161616;
    color: #fff;
}



.button.button-positive.active, .button.button-positive.activated{
    background-color: #262626;
    border-color: #262626;
    color: #cfcfcf;
}

/*---main---*/

/*.scroll-content {
    background-color: #161616;
}

.item {
    background-color: inherit;
    border-color: #193754;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
  border-color: #193754;
  background-color: #193754; }

*/
/*---MAP---*/

.leaflet-container{
    width: 100%;
    height: 100%;
}

/*----ADD Issue----*/

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.item-input textarea {
    
    width: 100%;
    resize: none;
}

/*-----IssueList-----*/

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
}


div .issueHeader{
    
    text-align: justify;
    margin-bottom: -20px;

    /* ie 7*/  
    *width: 100%;  
    *-ms-text-justify: distribute-all-lines;
    *text-justify: distribute-all-lines;
}
div .issueHeader:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
    
}

.issueTitle{
    display: inline-block;
    margin-top: 0.321em;
    
    /* ie 7*/ 
    *display: inline;
    *zoom: 1;
    *text-align: left; 
  

/* ie 7*/  
    *width: 100%;  
    *-ms-text-justify: distribute-all-lines;
    *text-justify: distribute-all-lines;

}

.state {
    font-size: 0.8em !important;
    display: inline-block;
    vertical-align: baseline; 
   
    /* ie 7*/
    *display: inline;
    *zoom:1;
    *text-align: right;
}